.button{
 width: 50px;
  height: 50px;
  background: #ff8080;
  transition: width 2s;
  border-radius: 50%;

  
}

.button{background-color: #ff4000;cursor: pointer;}
.button:focus {outline:0;}
.button:hover {
  color:white;
  transition: all 0.3s ease;

}
.clock{
  font-size: 90px;
  min-height:500px;
  font-size: 90px;
position: absolute;
  right: 5px;
  margin: auto;
  width: 60%;
  padding: 10px;
  bottom:  140px;
    


}
.container{
border-radius: 10px;
margin-bottom: 10px;
text-align:center;
width: 210px;
color:orange;
border: solid black 1px;
margin: auto;
  position: absolute;
  left: 100px;
  top: 150px;
  right:  45px;
}

/*{
border-radius: 10px;
/*background-color:orange;*/
/*color: black;
border-color:#ff4456 ;
width:100%;*/
/*}*/

.output1{
border-radius: 10px;
text-align: right;
background-color:lightgray;
border-color: black ;
width:100%;
font-size: 25px;

}
button{border-radius: 12px;
padding: 16px;
background-color: gray;
cursor: pointer;
 color:white;
  transition: all 0.3s ease;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
body{background-image: url("https://image.freepik.com/free-photo/keyboard-diary-calculator-blueprint-background_23-2148183022.jpg");
}
h1 {
  text-shadow: 2px 2px red;
  font-size: 80px;
  color: #ff4000;
  left: 200px;
  position: relative;
   top: 100px;
}
